:root{
  --ion-background-color: #d9d9d9;
}

#header{
  --ion-background-color: #00acee;
}

#body{
  --ion-background-color: #65aecb;
}

#android{
  text-decoration: none;
  color: #000;
  text-align: center
}

#ios{
  text-decoration: none;
  color: #000;
  text-align: center
}

#card1{
  padding: 10px 16px;
}